<<<<<<< HEAD
<<<<<<< HEAD
<div class="center jumbotron">
<h1>Admin Homepage</h1>
<%= link_to 'logout', logout_path, method: :delete, class: "btn btn-lg btn-primary"%>
=======
<h1>Admin Homepage</h1>
>>>>>>> justin
=======
<h1>StaticPages#admin</h1>
<p>Find me in app/views/static_pages/admin.html.erb</p>
<%= link_to 'logout', logout_path, method: :delete%>
>>>>>>> 7a640f85ef6aa972181687cbfbc430f95c163094
