<<<<<<< HEAD
<h1>Employee Homepage</h1>
<h1>Employee Homepage</h1>
=======
<h1 class = "h1leftalign">Employee Homepage</h1>
<h2 class = "h2leftalign">Welcome <%= @current_user.username =%></h2>
>>>>>>> kyle
