<h1 class = "modelsh1">Editing Server</h1>

<%= render 'form', server: @server %>

<%= link_to 'Show', @server, class: 'newserverpadding'%> |
<%= link_to 'Back', servers_path, {:style=>'font-size: 20px;'} %>
