<h1 class = "modelsh1">Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user, class: 'newuserpadding'%> |

<% if current_user.admin %>
    <%= link_to 'Back', login_path, {:style=>'font-size: 20px;'} %>
<% end %>
