<% provide(:title, 'User Search') %>
<h1>User Search</h1>
<%= form_tag(user_search_path, remote: true, id: "search_form", class: 'searchbox') do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil %>
<% end %>
<div id="results">
  <%= render 'results' %>
</div>