
table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	border-color: #999999;
	border-collapse: collapse;
}
table th {
	background:#b5cfd2;
	border-color: #999999;
}
table td {
	background:#dcddc0;
	border-color: #999999;
}

