<h1 class=left>Navigation</h1>
  <nav>
      <%= link_to "Home",   employee_path, class: "btn btn-lg btn-primary"%>
      <%= link_to 'Logout', logout_path, method: :delete, class: "btn btn-lg btn-primary"%>
      <%= link_to 'Servers', server_path, class: "btn btn-lg btn-primary"%>
      <%= link_to 'Dashboard', dashboard_path, class: "btn btn-lg btn-primary"%>
  </nav>