<h1 class=left>Navigation</h1>
  <nav>
      <%= link_to "home",   employee_path, class: "btn btn-lg btn-primary"%>
      <%= link_to 'logout', logout_path, method: :delete, class: "btn btn-lg btn-primary"%>
  </nav>